<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>History</title>
</head>
<body>
    <div class="max-w-6xl mx-auto p-8">

    <h1 class="text-4xl font-bold mb-8">
        My Resume Analyses
    </h1>

    <div class="bg-white shadow-lg rounded-xl overflow-hidden">

        <table class="w-full">

            <thead class="bg-gray-100">

                <tr>
                    <th class="p-4 text-left">Date</th>
                    <th class="p-4 text-left">ATS Score</th>
                    <th class="p-4 text-left">Matched Skills</th>
                    <th class="p-4 text-left">Missing Skills</th>
                    <th class="p-4 text-left">Semantic Score</th>
                    <th class="p-4 text-left">Recommended Role</th>
                </tr>

            </thead>

            <tbody>

                {% for analysis in analyses %}

                <tr class="border-b">

                    <td class="p-4">
                        {{ analysis.created_at|date:"M d, Y" }}
                    </td>

                    <td class="p-4 font-bold text-indigo-600">
                        {{ analysis.score }}%
                    </td>

                    <td class="p-4">
                        {{ analysis.matched_skills }}
                    </td>

                    <td class="p-4">
                        {{ analysis.missing_skills }}
                    </td>

                    <td class="p-4">
                        {{ analysis.semantic_score|floatformat:2 }}%
                    </td>

                    <td class="p-4">
                        {{ analysis.recommended_role }}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>
</body>
</html>