<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

{% block content %}

<div class="card shadow-lg p-4">

    <h1 class="text-center mb-4">
        AI Resume Screener
    </h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Upload Resume</label>
            <input type="file"
                   class="form-control"
                   name="resume"
                   required>
        </div>

        <div class="mb-3">
            <label class="form-label">Job Description</label>

            <textarea
                class="form-control"
                rows="8"
                name="job_description"
                required></textarea>
        </div>

        <button class="btn btn-primary w-100">
            Analyze Resume
        </button>

    </form>

</div>

{% endblock %}


</body>
</html>